{% load static%}
<section class="about_section layout_padding" style="padding-bottom: 70px;">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src= {% static "images/removebg.png" %}  alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                M3M Altitude 65
              </h2>
            </div>
            <p>
              
M3M Sierra is an extravagant property, located in Sector 68, Golf Course Road, Gurgaon which is the finest addresses in Delhi NCR, in the heart of the state-of-the-art amenities, away from the hustle-bustle of urban living but still in metropolitan plus millennium city, tranquil surroundings giving the emerald and strong living. Talking about the convenience and the easily open-minded destinations you will stick to this alternative only.
            </p>
            <div class="show-pop_up">

            <a style="cursor: pointer;"id="prices">
              Read More
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>