{% load static %}
<section id="AMENITIES">
    <div class="container" style="margin-top: 30px;">
        <div class="main-title text-center">
            {% comment %} <span>Project Amenities </span> {% endcomment %}
            <h2 style="margin-bottom: 3.5rem;">Project Amenities </h2>
        </div>
        <div class="amenities grid-container">
            <div class="grid-item">
                <img src="{% static 'images/a1.png' %}">
                <p>Grand Reception</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a2.png' %}">
                <p>Coffee Shop</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a3.png' %}">
                <p>Pharmacy</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a4.png' %}">
                <p>Reading Lounge</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a5.png' %}">
                <p>Multi Purpose Hall</p>
             </div>
        
             <div class="grid-item">
                <img src="{% static 'images/a6.png' %}">
                <p>Preview Theater</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a7.png' %}">
                <p>Children's Play Area</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a8.png' %}">
                <p>Gymnasium</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a9.png' %}">
                <p>Indoor Badminton Courts</p>
             </div>
             <div class="grid-item">
                <img src="{% static 'images/a10.png' %}">
                <p  id ="gallery">Infinity Swimming Pool</p>
             </div>
        </div>
        <div class="row txt show-pop_up" style="margin-inline: 30%; margin-top: 15px;">
            <div class="col-12 text-center">
                <button  class="btn btn-outline-dark btncarerrrevers" data-toggle="modal" data-target="#onload-form" data-backdrop="static" data-keyboard="false" fdprocessedid="4vo9tm" style="background-color: #ffbe33;">Know More</button>
            </div>
        </div>
    </div>
</section>