{% load static %}
<section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  I am extremely satisfied with my experience with Urbanage. Their professional team directed my investments wisely, resulting in excellent profits.Urbanage ensured my real estate investments were both secure and lucrative. Their services are top-notch, and I highly recommend them.
                </p>
                <h6>
                  Moana Michell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src= {% static "images/client1.jpg" %} alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Urbanage ensured my real estate investments were both secure and lucrative. Their services are top-notch, and I highly recommend them. I have had a fantastic experience with Urbanage. Their insight and dedication have helped me achieve significant profits from my investments.
                </p>
                <h6>
                  Mike Hamell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src={% static "images/client2.jpg" %} alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
