{% load static %}
<section id="Gallery" style="background: #222831;
    color: white;">
    <div class="container">
        <div class="main-title text-center">
            {% comment %} <span>Gallery</span> {% endcomment %}
            <h2 style="margin-top:50px">Gallery</h2>
        </div>
        <div class="row mt-5" >
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g1.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g2.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g3.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g4.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g5.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img-container">
                    <img src="{% static 'images/g6.jpg' %}" alt="" class="img-fluid" style="height: 194px; width: 344px;">
                    <div id="location" style="position: absolute; top: 109px;"></div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img">
                    <img src="img/gallery/g7.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img">
                    <img src="img/gallery/g8.jpg" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="img">
                    <img src="img/gallery/g9.jpg" alt="" class="img-fluid">
                </div>
            </div> -->
        </div>
    </div>
</section>