{% load static %}
<section id="price">
    <div class="container" style="margin-top: 30px;">
        <div class="main-title text-center">
            {% comment %} <span>Price Details</span> {% endcomment %}
           
            <h2>Price Details</h2>
        </div>
        <div class="row mt-5">
            <div class="col-lg-10 m-auto p-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Configuration</th>
                                <th>Area</th>
                                <th style="display:flex; justify-content:center;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3.5 BHK + S</td>
                                <td>On Request</td>
                                <td>
                                    <button type="button" class="btn show-pop_up" data-toggle="modal" data-target="#onload-form" data-backdrop="static" data-keyboard="false" fdprocessedid="s0xe63" style="background-color: #ffbe33;">
                                        On Request
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>4.5 BHK + S</td>
                                <td id="amenities">On Request</td>
                                <td>
                                    <button type="button" class="btn show-pop_up" data-toggle="modal" data-target="#onload-form" data-backdrop="static" data-keyboard="false" fdprocessedid="2skivs" style="background-color: #ffbe33;">
                                        On Request
                                    </button>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>3.5 BHK + Servant</td>
                                <td>3605 Sq.Ft.</td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#onload-form" data-backdrop="static" data-keyboard="false">
                                        On Request
                                    </button>
                                </td>
                            </tr> -->
                         <!--   <tr>
                                <td>5 BHK</td>
                                <td>2434 - 2474 Sq. Ft.</td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#onload-form" data-backdrop="static" data-keyboard="false">
                                        On Requests
                                    </button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>