{% load static %}
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      M3M ALTITUDE 
                      {% comment %} {{ company.1.name }} {% endcomment %}
                    </h1>
                    <p>
                      LAUNCHING ULTRA LUXURIOUS 4.5 BHK + SERVANTS ROOM STARTS ₹ 9.54 CR ONWARDS*
                    </p>
                    <div class="show-pop_up">

                    <div class="btn-box">
                      <a  class="btn1" style="cursor: pointer;">
                        BOOK NOW
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="carousel-item active ">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    M3M ALTITUDE SECTOR 65
                  </h1>
                  <p>
                    LAUNCHING ULTRA LUXURIOUS 4.5 BHK + SERVANTS ROOM STARTS ₹ 9.54 CR ONWARDS*
                  </p>
                  <div class="show-pop_up">
                  <div class="btn-box">
                    <a class="btn1" style="cursor: pointer;">
                      BOOK NOW
                    </a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    M3M ALTITUDE
                  </h1>
                  <p>
                    Land Parcel: 4 Acres Total Floors: 3 Towers, 32 Storey
                    Status: New Launch                    </p>
                    <div class="show-pop_up">
                  <div class="btn-box">
                    <a class="btn1" style="cursor: pointer;">
                      BOOK NOW
                    </a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div> {% endcomment %}
    </div>

  </section>